.navbar{
    background: #fff;
    min-height: 7vh ;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    border: 2px solid green;
    border-radius: 5px;
}

.navbar-nav{
    flex: 1;
    justify-content: center;
    gap: 2rem;
}

.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    position: relative;
    
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0;
    height: 5px;
    background-color: rgb(15, 88, 15);
    border-radius: 50px;
    transition: width 0.3s ease, left 0.3s ease; 
  
}
.nav-link:hover::after{
    width: 60%;
    left: 15%;
}
.btn{
    padding: 0.3rem 1rem;
    margin: 1rem;
}

.nav-btn{
    background-color: #fff;
    color: green;
    border: 1px solid green;
}
.check-result .container{
  margin-top: 7rem;
}
.slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .section-limited {
    max-width: 600px;
    margin: auto;
  }
  .custom-fields{
    margin-top: 2rem;
  }
   .custom-container{
     display: grid;
     grid-template-rows: 1fr;
     place-items: center;
   
   }
   .custom-card{
    width: 50%;
    padding: 3rem;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
   }
   .custom-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
   }
 
 @media (max-width: 768px){
    body{
       width: 100%;
       overflow: hidden;
    }
    .navbar{
        min-height: 56px;
        padding: 0.5rem 1rem !important;
    }
    .navbar-nav{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        box-sizing: border-box;
    }
        .nav-btn {
       left: 0;
       margin: 0.5rem auto;
       display: block;
       float: none;
       width: 100%;
       text-align: center;
    }
    .nav-item, .nav-link{
         max-width: 100%;
        box-sizing: border-box;
        text-align: center;
        white-space: normal;
    }
     .navbar-collapse {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}  